.sidebar{
    position: fixed;
    top: 55px;
    bottom: 0px;
    left: 0px;
    width: 72px;
    background-color: white;
}
.sub-sidebar{
    margin-top: 20px;
}
.Home-logo{
    display: flex;
    flex-direction: column;
    height: 74px;
    cursor: pointer;
}
.home-icon{
    height: 25px;
    align-items: center;
}
.Home{
    margin-top: 6px;
    font-size: 10px;
    align-items: center;
    text-align: center;
}